<?xml version="1.0"?>
<robot name="depth_camera" xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="depth_camera" params="prefix parent">
<!-- axis directions: x -> viewing direction; y: left; z: up -->

<link name="${prefix}camera_link"/>

<joint name="${prefix}${parent}_camera-link_fixed_joint" type="fixed">
  <origin xyz="0 0 0.02" rpy="0 ${pi/-2.0} ${pi/-2.0}"/>
  <parent link="${prefix}${parent}"/>
  <child link="${prefix}camera_link"/>
</joint>

<link name="${prefix}camera_depth_frame"/>

<joint name="${prefix}camera-link_camera-depth_fixed_joint" type="fixed">
  <origin xyz="0 0 0" rpy="${pi/-2.0} 0 ${pi/-2.0}"/>
  <parent link="${prefix}camera_link"/>
  <child link="${prefix}camera_depth_frame"/>
</joint>

<gazebo reference="${prefix}camera_link">
  <sensor name="${prefix}camera" type="depth">
    <update_rate>20</update_rate>
    <camera>
      <horizontal_fov>${80*pi/180}</horizontal_fov>
      <image>
        <width>640</width>
        <height>480</height>
        <format>B8G8R8</format>
      </image>
      <clip>
        <near>0.15</near>
        <far>3.0</far>
      </clip>
    </camera>
    <plugin name="${prefix}camera_controller" filename="libgazebo_ros_openni_kinect.so">
      <baseline>0.05</baseline>
      <alwaysOn>true</alwaysOn>
      <updateRate>40.0</updateRate>
      <cameraName>${prefix}camera</cameraName>
      <imageTopicName>/${prefix}camera/color/image_raw</imageTopicName>
      <cameraInfoTopicName>/${prefix}camera/color/camera_info</cameraInfoTopicName>
      <depthImageTopicName>/${prefix}camera/depth/image_raw</depthImageTopicName>
      <depthImageCameraInfoTopicName>/${prefix}camera/depth/camera_info</depthImageCameraInfoTopicName>
      <pointCloudTopicName>/${prefix}camera/depth/points_gazebo</pointCloudTopicName>
      <frameName>${prefix}camera_depth_frame</frameName>
      <pointCloudCutoff>0.15</pointCloudCutoff>
      <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
      <distortionK1>0.0</distortionK1>
      <distortionK2>0.0</distortionK2>
      <distortionK3>0.0</distortionK3>
      <distortionT1>0.0</distortionT1>
      <distortionT2>0.0</distortionT2>
      <CxPrime>0</CxPrime>
      <Cx>0</Cx>
      <Cy>0</Cy>
      <focalLength>0</focalLength>
      <hackBaseline>0</hackBaseline>
    </plugin>
  </sensor>
</gazebo>

</xacro:macro>
</robot>