<?xml version="1.0"?>
<launch>
  <arg name="paused" default="true" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  <arg name="world_path" default="$(find ur_with_cam_gazebo)/worlds" />
  <arg name="world_name" default="world18" />
  <arg name="tree_resolution" default="0.01" />
  <arg name="workspace_tree" default="$(find phenorob_ur5e)/workspace_trees/ur_retractable/workspace_map.ot" />
  <arg name="sampling_tree" default="$(find phenorob_ur5e)/workspace_trees/ur_retractable/workspace_map.ot" />
  <arg name="map_frame" default="world" />
  <arg name="ws_frame" default="world" />
  <arg name="planning_mode" default="automatic" />

  <!--rosparam file="$(find ur_with_cam_gazebo)/config/pid_gains_retractable.yaml" command="load"/-->
  <param name="/world_name" type="str" value="$(arg world_name)" />
  <param name="/roi_viewpoint_planner/tree_resolution" type="double" value="$(arg tree_resolution)" />
  <param name="/roi_viewpoint_planner/workspace_tree" type="str" value="$(arg workspace_tree)" />
  <param name="/roi_viewpoint_planner/sampling_tree" type="str" value="$(arg sampling_tree)" />
  <param name="/evaluate_planner/planning_mode" type="str" value="$(arg planning_mode)" />
  <param name="/roi_viewpoint_planner/map_frame" type="str" value="$(arg map_frame)" />
  <param name="/roi_viewpoint_planner/ws_frame" type="str" value="$(arg ws_frame)" />
  <param name="/roi_viewpoint_planner/initial_joint_values" type="yaml" value="[-0.8, -0.2, 0, 0, 0, 0, 1.5708, -1.5708, 0]" />

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(arg world_path)/$(arg world_name).world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- send robot urdf to param server -->
  <include file="$(find ur_with_cam_gazebo)/launch/retractable/ur5_retractable_upload.launch" />

  <!-- push robot_description to factory and spawn robot in gazebo (pi/2: 1.5708, pi/4: 0.785398)-->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="
    -urdf -param robot_description -model robot
    -z 0
    " respawn="false" output="screen" />
<!--J wrist_1_joint 1.5708
    -J wrist_2_joint -1.5708
-->

  <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>

  <!-- start this controller -->
  <rosparam file="$(find ur_gazebo)/controller/arm_controller_ur5.yaml" command="load"/>
  <rosparam file="$(find ur_with_cam_gazebo)/config/retractable_controller.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>
  <node name="linear_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn linear_controller" respawn="false" output="screen"/>

  <!-- load other controllers -->
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load joint_group_position_controller" />
  <node name="linear_ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load linear_joint_group_position_controller" />

  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/>

  <node pkg="nodelet" type="nodelet" name="detect_roi" args="load pointcloud_roi/FilterRedClusters nodelet_manager --no-bond">
    <remap from="~input" to="/camera/depth/points" />
    <remap from="~map_frame" to="/roi_viewpoint_planner/map_frame" />
  </node>

</launch>
