<?xml version="1.0"?>
<launch>
  <arg name="paused" default="true" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  <arg name="world_path" default="$(find ur_with_cam_gazebo)/worlds" />
  <arg name="world_name" default="world10" />
  <arg name="tree_resolution" default="0.02" />
  <!-- No workspace for UR with rail recorded, since not used, so load default for now -->
  <arg name="workspace_tree" default="$(find ur_with_cam_gazebo)/workspace_trees/ur_with_cam/workspace_map.ot" />
  <arg name="planning_mode" default="automatic" />

  <!--rosparam file="$(find ur_with_cam_gazebo)/config/pid_gains_rail.yaml" command="load"/-->
  <param name="/world_name" type="str" value="$(arg world_name)" />
  <param name="/roi_viewpoint_planner/tree_resolution" type="double" value="$(arg tree_resolution)" />
  <param name="/roi_viewpoint_planner/workspace_tree" type="str" value="$(arg workspace_tree)" />
  <param name="/evaluate_planner/planning_mode" type="str" value="$(arg planning_mode)" />
  
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(arg world_path)/$(arg world_name).world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- send robot urdf to param server -->
  <include file="$(find ur_with_cam_gazebo)/launch/rail/ur5_on_rail_upload.launch" />

  <!-- push robot_description to factory and spawn robot in gazebo (pi/2: 1.5708, pi/4: 0.785398)-->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="
    -urdf -param robot_description -model robot
    -z 0
    " respawn="false" output="screen" />
<!---J shoulder_pan_joint -0.785398
    -J shoulder_lift_joint 0
    -J elbow_joint 0.785398
    -J wrist_1_joint -0.785398
    -J wrist_2_joint -0.785398
-->

  <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>

  <!-- start this controller -->
  <rosparam file="$(find ur_gazebo)/controller/arm_controller_ur5.yaml" command="load"/>
  <rosparam file="$(find ur_with_cam_gazebo)/config/rail_controller.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>
  <node name="rail_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn rail_controller" respawn="false" output="screen"/>

  <!-- load other controllers -->
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load joint_group_position_controller" />
  <node name="rail_ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load rail_joint_group_position_controller" />

</launch>
